.contact-form--container {
  margin: 1rem 0;
  text-align: center;
}
.contact-form--container * {
  outline: none;
}
.contact-form--container .input-container {
  position: relative;
  width: 90%;
  height: 2rem;
  margin: 2rem auto;
}
.contact-form--container .input-container:not(:first-of-type) {
  margin-top: 4rem;
}
.contact-form--container .input-container label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all 0.5s ease-in-out;
}
.contact-form--container .input-container input {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 2px solid #fff;
}
.contact-form--container .input-container input:not(:-moz-placeholder-shown) + label {
  top: -2.2rem;
  left: 1rem;
  transform: translate(0, 0);
  color: #458bd6;
}
.contact-form--container .input-container input:focus + label, .contact-form--container .input-container input:active + label, .contact-form--container .input-container input:not(:placeholder-shown) + label {
  top: -2.2rem;
  left: 1rem;
  transform: translate(0, 0);
  color: #458bd6;
}
.contact-form--container .input-container :hover {
  cursor: pointer;
}
.contact-form--container input,
.contact-form--container textarea {
  border: 2px solid #458bd6;
}
.contact-form--container textarea {
  width: 90%;
  margin: auto;
  display: block;
  padding: 1rem;
  border-radius: 25px;
  margin-top: 4rem;
}
.contact-form--container button {
  margin-top: 1rem;
  background-color: #458bd6;
  color: #fff;
  border-radius: 10%;
  border: none;
  padding: 0.5rem 1rem;
}
.contact-form--container button:hover {
  cursor: pointer;
}