@import "./variables.scss";

header {
  .header--cta {
    background-color: black;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 1rem;

    li {
      color: $primaryColor;
      font-size: 1.8rem;

      &:first-of-type {
        margin-right: 0.5rem;
      }
      transition: color 200ms ease-in-out;
      -webkit-transition: color 200ms ease-in-out;
      -o-transition: color 200ms ease-in-out;
      -moz-transition: color 200ms ease-in-out;
    }

    li:hover,
    li:focus {
      cursor: pointer;
      color: white;
    }

    span {
      color: white;
      margin-right: 0.8rem;
    }
  }
}

.sticky--menu {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $primaryColor;
  overflow: hidden;
  z-index: 3;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h1 {
    text-align: center;
    flex-grow: 1;
  }

  .hamburger {
    width: 25px;
    height: 25px;
    margin: 0 0.7rem;

    position: relative;
    margin-left: auto;

    &:hover {
      cursor: pointer;
    }

    &--line {
      width: 90%;
      height: 2px;
      background-color: #000;
      display: block;
      margin: auto;
      margin-top: 0.5rem;
    }
  }

  ul {
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    list-style: none;
    text-align: center;

    li:hover {
      cursor: pointer;
    }
  }
}
